<header>
   {{> @logo }}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- navbar items, navbar burger... -->
            <ul>
                    <li>About</li>
                    <li>Work</li>
                </ul>
        </div>
    </nav>
</header>